# Uncomment to enable Azure Monitor OpenTelemetry
# Ref: aka.ms/functions-azure-monitor-python
# azure-monitor-opentelemetry


azure-functions
# langgraph

langchain
# langchain-community
# langchain-core
langchain-openai

langchain_community

sqlalchemy

pyodbc

# test
# pandas
# plotly
# nbformat
# ipywidgets